<section>
    <div class="container-fluid">
        <!-- <style>
            body{
                background: #ffffff;
            }
        </style> -->
        <div class="row">
            <div class="col-md-4 p-0">
                <div class="bg-slider py-2">
                    <div class="login-logo mx-auto mb-2">
                        <img src="assets/images/logo-clickncash.png" alt="" class="img-fluid w-100 h-100 bg-white rounded-pill p-1">
                    </div>
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner login-slider">
                            <div class="carousel-item active">
                                <img src="assets\images/onboarding.png" class="w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="assets\images/login-banner-three.png" class="w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="assets\images/login-banner-two.png" class="w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="assets\images/login-banner.png" class="w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <h5 class="text-light text-center lh-base mb-1 fst-italic">चलो कुछ नया करते है औरों के लिए बहुत कुछ किया अब अपना करते है</h5>
                    <h6 class="text-light text-center fst-italic">अपना नाम : अपना काम</h6>
                    <h6 class="text-light text-center fst-italic">अब शुरु करो अपना स्टार्टअप</h6>
                    <!-- icon slider -->
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <!-- <img src="..." class="d-block w-100" alt="..."> -->
                                <div class="row">
                                    <div class="col-4">
                                        <div class="slider-icon mx-auto">
                                            <img src="assets/images/bbps_mnemonic.png" alt="" class="img-fluid w-100 h-100 p-1">
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="slider-icon mx-auto">
                                            <img src="assets/images/satellite-dish.png" alt="" class="img-fluid w-100 h-100 p-1">
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="slider-icon mx-auto">
                                            <img src="assets/images/smartphone.png" alt="" class="img-fluid w-100 h-100 p-1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <!-- <img src="..." class="d-block w-100" alt="..."> -->
                                <div class="row">
                                    <div class="col-4">
                                        <div class="slider-icon mx-auto">
                                            <img src="assets/images/aeps.png" alt="" class="img-fluid w-100 h-100 p-1">
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="slider-icon mx-auto">
                                            <img src="assets/images/bc.png" alt="" class="img-fluid w-100 h-100 p-1">
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="slider-icon mx-auto">
                                            <img src="assets/images/airplane.png" alt="" class="img-fluid w-100 h-100 p-1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 d-none d-lg-block"></div>
            <div class="col-md-4">
                <h2 class="text-capitalize text-center text-danger mt-4">Forget Password</h2>
                <p class="text-capitalize fst-italic">Customer Care Number (8.00 am to 10pm) : +91-11-43045626</p>
          
                <form [formGroup]="mainForm" class="shadow-sm p-3">
                    <span *ngIf="showOtpForm==false">
                        <form action="" [formGroup]="mobileForm">
                            <div class="form-floating mb-3">
                                <input type="email" formControlName="email" class="form-control shadow-none rounded-0 user-select-none" id="email" placeholder="Email"
                                [ngClass]="{ 'is-invalid': submitted && mob.email.errors }" required>
                                <label for="email" class="text-capitalize user-select-none">Email address</label>
                                <div *ngIf="submitted && mob.email.errors" class="invalid-feedback">
                                    <div *ngIf="mob.email.errors.required" class="text-danger">Email is required</div>
                                    <div *ngIf="mob.email.errors.pattern" class="text-danger">Invlaid Email</div>
                                </div>
                                <button class="btn btn-success shadow-none text-capitalize mt-4  px-4 rounded-pill" type="button" (click)="getOtp()">Get OTP</button>
                                <p class="mt-4 mb-0 text-center fs-6"><a [routerLink]="['/login']" class="text-capitalize btn-outline-primary btn px-4 rounded-pill shadow-none text-capitalize"><i class="bx bx-arrow-back"></i> Back to Login</a></p>                           
                            </div>
                        </form>
                    </span>
                    <span *ngIf="showOtpForm==true && passwordResetForm==false">
                        <form action="" [formGroup]="otpForm">
                            <div class="form-floating mb-3">
                                <input type="text" formControlName="otpNum" class="form-control shadow-none rounded-0 user-select-none" id="mobile" placeholder="mobile"
                                [ngClass]="{ 'is-invalid': submitted && otp.otpNum.errors }" required>
                                <label for="mobile" class="text-capitalize user-select-none">Enter OTP</label>
                                <div *ngIf="submitted && otp.otpNum.errors" class="invalid-feedback">
                                    <div *ngIf="otp.otpNum.errors.required" class="text-danger">OTP required</div>
                                </div>
                            </div>
                            <button class="btn btn-success shadow-none text-capitalize px-4 rounded-pill" type="button" (click)="verifyOtp()">submit</button>
                            <p class="mt-4 mb-0 text-center fs-6"><a [routerLink]="['/login']" class="text-capitalize btn-outline-primary btn px-4 rounded-pill shadow-none text-capitalize"><i class="bx bx-arrow-back"></i> Back to Login</a></p>
                        
                        </form>
                       
                    </span>
                    <span *ngIf="passwordResetForm==true">
                        <form action="" [formGroup]="passwordForm">
                            <div class="form-floating mb-3">
                                <input type="password" formControlName="newPwd" class="form-control shadow-none rounded-0 user-select-none" id="password" placeholder="new password"
                                [ngClass]="{ 'is-invalid': submitted && otp.otpNum.errors }" required>
                                <label for="password" class="text-capitalize user-select-none">new password</label>
                                <div *ngIf="submitted && pwd.newPwd.errors" class="invalid-feedback">
                                    <div *ngIf="pwd.newPwd.errors.required" class="text-danger">New password required</div>
                                </div>
                                <div class="position-absolute top-50 end-0 translate-middle-y me-3" id="showhide"><i
                                    class="bx bx-show fs-5 text-info cursor-pointer" (click)="showPwd()"></i></div>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" formControlName="password" class="form-control shadow-none rounded-0 user-select-none" id="cpassword" placeholder="confirm password" required>
                                <label for="cpassword" class="text-capitalize user-select-none">confirm password</label>
                                <div *ngIf="submitted && pwd.password.errors" class="invalid-feedback">
                                    <div *ngIf="pwd.password.errors.required" class="text-danger">Confirm password required</div>
                                </div>
                                <div class="position-absolute top-50 end-0 translate-middle-y me-3" id="showhide"><i
                                    class="bx bx-show fs-5 text-info cursor-pointer" (click)="showPwd2()"></i></div>
                            </div>
                            <button class="btn btn-success shadow-none text-capitalize px-4 rounded-pill" type="button" (click)="resetPassword()">submit</button>
                            <p class="mt-4 mb-0 text-center fs-6"><a [routerLink]="['/login']" class="text-capitalize btn-outline-primary btn px-4 rounded-pill shadow-none text-capitalize"><i class="bx bx-arrow-back"></i> Back to Login</a></p>
                        
                        </form>
                        
                    </span>
                </form>
            </div>
        </div>
    </div>
</section>

