<!--sidebar wrapper -->
<div class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
        <a routerLink="/dashboard" class="d-flex align-items-center">
            <div class=" text-center">
                <img *ngIf="!isKindent" src="assets/images/rainet_logo.png" class="logo-icon w-50 h-50" alt="logo icon">
                <img *ngIf="isKindent" src="assets/images/kindent_logo.png" class="logo-icon w-50 h-50" alt="logo icon">
            </div>
        </a>
        <div class="toggle-icon ms-auto"><i class='bx bx-arrow-to-left'></i></div>
    </div>
    <!--navigation-->
    <ul class="metismenu" id="menu">
        <li [routerLink]="['/dashboard']">
            <a aria-expanded="false" class="cursor-pointer">
                <div class="parent-icon"><i class='bx bx-home-circle text-primary'></i>
                </div>
                <div class="menu-title text-capitalize">Dashboard</div>
            </a>
        </li>
        <li *ngIf="userType!='2' && userType!='3'" [routerLink]="['/wallet-load']">
            <a aria-expanded="false" class="cursor-pointer">
                <div class="parent-icon"><i class="fa fa-arrow-down text-success" aria-hidden="true"></i>
                </div>
                <div class="menu-title text-capitalize">Wallet In</div>
            </a>
        </li>
        <li *ngIf="userType!='2' && userType!='3'" [routerLink]="['/wallet-out']">
            <a aria-expanded="false" class="cursor-pointer">
                <div class="parent-icon"><i class="fa fa-arrow-up text-danger" aria-hidden="true"></i>
                </div>
                <div class="menu-title text-capitalize">Wallet Out</div>
            </a>
        </li>
        <li [routerLink]="['/bank-list']" *ngIf="userType!='2' && userType!='3'">
            <a aria-expanded="false" class="cursor-pointer">
                <div class="parent-icon"><i class="fa fa-home text-warning" aria-hidden="true"></i>
                </div>
                <div class="menu-title text-capitalize">Add Bank</div>
            </a>
        </li>
        <li [routerLink]="['/charge-back']" *ngIf="userType!='1' && userType!='3' && userType!='4'">
            <a aria-expanded="false" class="cursor-pointer">
                &nbsp;<div class="parent-icon"><i class="fa fa-inr text-success" aria-hidden="true"></i>
                </div>
                <div class="menu-title text-capitalize">Charge Back</div>
            </a>
        </li>
        <li class="menu-label">all reports</li>

        <li *ngIf="userType!='3'"> <a [routerLink]="['/ledger']" class="text-capitalize"><i class="bx bx-right-arrow-alt"></i>ledger</a>
        </li>
        <li *ng-if="transactionService == 2"> <a [routerLink]="['/pay-in']" class="text-capitalize"><i
                    class="bx bx-right-arrow-alt"></i>Pay In</a>
        </li>
        <li  *ngIf="userType!='3'"> <a [routerLink]="['/pay-out']" class="text-capitalize"><i class="bx bx-right-arrow-alt"></i>Pay
                Out</a>
        </li>
        <li *ngIf="userType!='3'"> <a [routerLink]="['/payment-link']" class="text-capitalize"><i class="bx bx-right-arrow-alt"></i>Pay In</a>
        </li>
        <li *ngIf="!isApiUser && userType!='2' && userType!='3' && userType!='4'"> <a [routerLink]="['/today-profit']" class="text-capitalize"><i class="bx bx-right-arrow-alt"></i>Daily P&L</a>
        </li>
        <li *ngIf="userType=='0'"> <a [routerLink]="['/heal-data']" class="text-capitalize"><i class="bx bx-right-arrow-alt"></i>Heal Data</a>
        </li>
        <li *ngIf="userType=='0'"> <a [routerLink]="['/balance-sheet']" class="text-capitalize"><i class="bx bx-right-arrow-alt"></i>Total Balnce sheet</a>
        </li>
        <li *ngIf="userType=='0'"> <a [routerLink]="['/today-balance']" class="text-capitalize"><i class="bx bx-right-arrow-alt"></i>Today balance sheet</a>
        </li>
        <li class="menu-label" *ngIf="!isApiUser && userType!='3'">profile settings</li>
        <!-- <li > -->
        <!-- <a class="has-arrow" href="javascript:;">
                <div class="parent-icon"><i class="bx bx-user-circle text-warning"></i>
                </div>
                <div class="menu-title text-capitalize">User</div>
            </a> -->
        <li *ngIf="!isApiUser && userType!='3'" [routerLink]="['/view-user']">
            <a aria-expanded="false" class="cursor-pointer">
                <div class="parent-icon"><i class='fa fa-users text-info'></i>
                </div>
                <div class="menu-title text-capitalize">User</div>
            </a>
        </li>
        <li *ngIf="!isApiUser && userType!='3'" [routerLink]="['/packages']">
            <a aria-expanded="false" class="cursor-pointer">
                <div class="parent-icon"><i class='fa fa-list-alt text-primary'></i>
                </div>
                <div class="menu-title text-capitalize">Packages</div>
            </a>
        </li>
        <li *ngIf="!isApiUser && userType!='4'" [routerLink]="['/onboarding_1']">
            <a aria-expanded="false" class="cursor-pointer">
                <div class="parent-icon"><i class="fa fa-handshake-o text-success" aria-hidden="true"></i>
                </div>
                <div class="menu-title text-capitalize">Onboarding_1</div>
            </a>
        </li>
        <li *ngIf="!isApiUser && userType!='4'" [routerLink]="['/onboarding_2']">
            <a aria-expanded="false" class="cursor-pointer">
                <div class="parent-icon"><i class="fa fa-user-plus text-warning" aria-hidden="true"></i>
                </div>
                <div class="menu-title text-capitalize">Onboarding_2</div>
            </a>
        </li>
        <li *ngIf="!isApiUser && userType!='4'" [routerLink]="['/vpa-list']">
            <a aria-expanded="false" class="cursor-pointer">
                <div class="parent-icon"><i class="fa fa-address-book-o text-info" aria-hidden="true"></i>
                </div>
                <div class="menu-title text-capitalize">VPA</div>
            </a>
        </li>
        
    </ul>
    <!--end navigation-->
</div>
<!--end sidebar wrapper -->
