<div class="page-wrapper">
    <div class="page-content">
        <!--breadcrumb-->
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3 fs-4 text-capitalize">User</div>
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item"><a routerLink="/dashboard"><i class="bx bx-home-alt"></i></a>
                        </li>
                        <li class="breadcrumb-item active text-capitalize" aria-current="page">{{title}}
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-6">
                <div class="card">
                    <div class="my-pages-header" style="background: linear-gradient(126deg, #9c1280, #1e2a67);">
                        <h4 class="fs-4 px-3  text-white" style="display: inline-block; padding-top: 0.8rem;">{{title}}
                        </h4>
                        <button class="float-end my-2 mx-3  btn btn-primary" (click)="backClicked()"><i
                                class="bx bx-arrow-back"></i></button>
                    </div>
                    <div class="card-body">
                       
                            <table class="table  table-bordered">
                                <thead>
                                    <tr>
                                        <td scope="col"><span class="fw-bold">Name - </span> {{userName}} </td>
                                        <td scope="col"><span class="fw-bold">Mobile - </span> {{mobile}}</td>
                                        <td scope="col"><span class="fw-bold">Balance : </span>{{balance}}</td>
                                        <td scope="col"><span class="fw-bold">Reg.No - </span> {{today | date:'dd-MM-yyyy hh:mm:s'}}</td>
                                    </tr>
                                </thead>
                               
                            </table>
                            <form class="" [formGroup]="fundForm" (ngSubmit)="fundSubmit()">
                            <div class="row align-items-center">
                                <div class="col-lg-4">
                                    <div class="form-floating mb-3">
                                        <select name="type" id="type" class="form-select shadow-none"
                                            formControlName="type"
                                            [ngClass]="{ 'is-invalid': Submitted && s.type.errors }">
                                            <option value="default">--- Select Type ---</option>
                                            <option value="CREDIT">CREDIT</option>
                                            <option value="DEBIT">DEBIT</option>
                                        </select>
                                        <label for="">Select Type</label>
                                        <div *ngIf="Submitted && s.type.errors" class="invalid-feedback">
                                            <div *ngIf="s.type.errors.required" class="text-danger">Type is
                                                required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-floating mb-3">
                                        <input type="number" class="form-control shadow-none rounded-0" id="amount"
                                            formControlName="amount"
                                            [ngClass]="{ 'is-invalid': Submitted && s.amount.errors }">
                                        <label for="amount" class="text-capitalize">Amount</label>
                                        <div *ngIf="Submitted && s.amount.errors" class="invalid-feedback">
                                            <div *ngIf="s.amount.errors.required" class="text-danger">Amount
                                                required</div>
                                            <div *ngIf="s.amount.errors.pattern" class="text-danger">Invalid Amount
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control shadow-none rounded-0" id="amount"
                                            formControlName="remarks"
                                            [ngClass]="{ 'is-invalid': Submitted && s.remarks.errors }">
                                        <label for="amount" class="text-capitalize">Remarks</label>
                                        <div *ngIf="Submitted && s.remarks.errors" class="invalid-feedback">
                                            <div *ngIf="s.remarks.errors.required" class="text-danger">Remark
                                                required</div>
                                            <div *ngIf="s.remarks.errors.pattern" class="text-danger">Invalid Remark
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                
                              
                                <div class="col float-end">
                                    <div class="">
                                        <button *ngIf="!submitSpinner" class="btn btn-success rounded-pill shadow-none text-capitalize px-5 float-end"
                                            type="submit">Submit</button>
                                        <div *ngIf="submitSpinner" class="spinner-border text-primary" role="status">
                                            <span class="visually-hidden">Loading...</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- show recently five transaction of this particular user whoose name is showing -->
                        <table class="table text-center">
                            <thead>
                                <tr>
                                  <th scope="col">SR. No</th>
                                  <th scope="col">txn ID</th>
                                  <th scope="col">Open balance</th>
                                  <th scope="col">Amount</th>
                                  <th scope="col">Close balance</th>
                                  <th scope="col">CR/DR</th>
                                  <th scope="col">Date</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let data of recentTransaction let i=index">
                                  <th scope="row">{{i+1}}</th>
                                  <td>{{data.txnId}}</td>
                                  <td>{{data.openBalance}}</td>
                                  <td>{{data.amount}}</td>
                                  <td>{{data.closeBalance}}</td>
                                  <td class="text-uppercase">{{data.serviceType}}</td>
                                  <td>{{data.createDate | date:'dd-MM-yyyy hh:mm a'}}</td>
                                </tr>
                              </tbody>
                             
                          </table>
                          <p class="text-primary">Recent {{recentTransaction.length}} transaction</p>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>
