<div class="page-wrapper">
    <div class="page-content">
        <!--breadcrumb-->
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3 fs-4 text-capitalize">User</div>
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item"><a routerLink="/dashboard"><i class="bx bx-home-alt"></i></a>
                        </li>
                        <li class="breadcrumb-item active text-capitalize" aria-current="page">{{title}}
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-6">
                <div class="card">
                    <div class="my-pages-header" style="background: linear-gradient(126deg, #9c1280, #1e2a67);">
                        <h4 class="fs-4 px-3  text-white" style="display: inline-block; padding-top: 0.8rem;">{{title2}}
                        </h4>
                        <button class="float-end my-2 mx-3  btn btn-primary" (click)="backClicked()"><i
                                class="bx bx-arrow-back"></i></button>
                    </div>
                    <div class="card-body">

                        <table class="table  table-bordered table-responsive">
                            <thead>
                                <tr>
                                    <td scope="col"><span class="fw-bold">Name - </span> {{userName}} </td>
                                    <td scope="col"><span class="fw-bold">Mobile - </span> {{mobile}}</td>
                                    <td scope="col"><span class="fw-bold">Reg.No - </span> {{today | date:'dd-MM-yyyy hh:mm:s'}}</td>
                                </tr>
                            </thead>

                        </table>

                        <h2 *ngIf="isPackageAssigned" class="text-capitalize text-danger">Not assigned package</h2>
                       
                        <!-- show recently five transaction of this particular user whoose name is showing -->
                        <table class="table text-center" *ngIf="!isPackageAssigned">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col"><i class="fa fa-inr" aria-hidden="true"></i>&nbsp;Start</th>
                                    <th scope="col"><i class="fa fa-inr" aria-hidden="true"></i>&nbsp;End</th>
                                    <th scope="col">Charge</th>
                                    <th scope="col">Type</th>
                                    <th scope="col">Service Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of commissionList let i=index;">
                                    <th scope="row">{{i+1}}</th>
                                    <td>{{data.amount_from}}</td>
                                    <td>{{data.amount_to}}</td>
                                    <td>{{data.charge}}</td>
                                    <td>{{data.commissionTypeFlat}}</td>
                                    <td>{{data.serviceType}}</td>
                                </tr>                             
                            </tbody>
                        </table>
                    </div>
                 
                </div>
            </div>
        </div>
    </div>
</div>



